$primary-font-size: 45px;
$text-color-white:white;
$orange-color: rgb(187, 79, 36);
$hovered-color: rgb(152, 107, 107);
$all-screen: 100%;


//palette


$colors: (
    "black" : black,
    "white" : white,
    "red" : rgb(233, 68, 68),
    "yellow" : rgb(247, 247, 86),
    "blue" : rgb(53, 53, 197),
    "purple" : purple,
    "brown" : rgb(94, 43, 43),
    "green" : rgb(59, 212, 59)
)